<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treeboy frist FastAPI App</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">-->
</head>
<body>
    <main>
        <h1>樣本</h1>
        <h2>我不太會設計網頁，反正railway不會顯示靜態文件。</h2>
        <h5>我只花兩小時寫的程式，所以並不完整，很容易出現bug，請見諒；</h5>
        <h5>雖然簡陋，但是我以後都會拿這個api來改，因為簡陋的程式包含了對資料庫的增刪查改，</h5>
        <h5>網頁、表單與資料的操作等等，其實算是非常完整了，只是需要包裝而已。</h5>
        <br>
        {% block content %}
        
        {% endblock content %}
    </main>
</body>
</html>