<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treeboy frist FastAPI App</title>
    <link rel="stylesheet" href="fastapi_database_demo\static\css\bootstrap.min.css">
    <link href="fastapi_database_demo\static\mis.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <h1>粉絲團留言版</h1>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">首頁</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user">全部的留言</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">功能一</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">功能二</a>
                </li>
              </ul>
            </div>
          </nav>
   </header>
    <div calss="wrapper">
        <div class="content-wrap">

    <main>
    
        
            {% block content %}
        
            {% endblock content %}
    </main>
    </div>

    </div>


    <script src="fastapi_database_demo\static\js\popper.min.js"></script>
    <script src="fastapi_database_demo\static\js\bootstrap.min.js"></script>
</body>
</html>

