<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treeboy frist FastAPI App</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/headers/">
</head>
<body>
    <header>
        <h2>粉絲團留言板</h2>
        <h4>超級前端菜鳥，我專精後端與自然語言處理，但我可以處理你們輸入的資料。</h4>
    </header>

    <main>
        <h1>你可以輸入你的暱稱與留言</h1>
        
        {% block content %}
        
        {% endblock content %}
    </main>
    <footer class="footer">
        <p>2022<br>
        <a>本網頁使用fastapi與jinja2開發</a></p>
      </footer>
</body>
</html>