<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>treeboy_demo</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
</head>
<body>
    <h1>場外休憩區，你們豪~</h1>
    <button hx-post="/clicked" hx-swap="outerHTML">
        Click Me
      </button>

</body>
</html>